<div class='container-fluid page__heading-container'>
  <div class='page__heading d-flex align-items-center'>
    <div class='flex'>
      <nav aria-label='breadcrumb'>
        <ol class='breadcrumb mb-0'>
          <li class='breadcrumb-item' aria-current='page'>Models</li>
          <li class='breadcrumb-item active' aria-current='page'>Purchases</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class='container-fluid page__container'>
  <%= render 'purchases' %>
</div>
